.carousal {
    box-sizing: border-box;
    position: relative;
}

.carousal-container {
    width: max-content;
    transform: translateX(0px);
    transition: all 0.3s ease-in-out 0s;
    display: flex;
    gap: 1rem;
}

.cards {

    cursor: pointer;
    position: relative;
    border-radius: 0.5rem;
}

.cards img {
    max-width: 210px;
    width: 210px;
    height: 100%;
    border-radius: 0.5rem;

}

.left-arrow,
.right-arrow {
    color: var(--color-light);
    position: absolute;
    top: 40%;
    font-size: 24px;
    opacity: 0;
    background-color: rgba(92, 92, 92, 0.63);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;

}

.left-arrow {
    left: 5px;
}

.right-arrow {
    right: 15px;
}

.carousal:hover .left-arrow,
.carousal:hover .right-arrow {
    opacity: 1;
    cursor: pointer;
    transition: all 0.2s ease;
}

.card-video {
    z-index: 99;
    height: max-content;
    width: 20rem;
    position: absolute;
    top: -18vh;
    left: 0px;
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
    background-color: rgb(24, 24, 24);
    transition: all 0.3s ease-in-out 0s;
}

.card-video-container {
    position: relative;
    height: 140px;
}

.video-info {
    background-color: #282828;
    margin-top: -5px;
    color: var(--color-light);
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

.video-info-container {
    display: flex;
    flex-direction: column;
    gap: -0.2rem;
    padding: 1rem;

}

.video-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.video-icons {
    display: flex;
    justify-content: space-between;
}

.video-controls {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;

}

.video-icons svg {
    transition: color 0.3s ease;
}

.video-icons svg:hover {
    color: rgb(181, 181, 181);

}

.video-info {
    font-size: 1.1rem;
}

.video-geners {
    display: flex;
    gap: 1.7rem;
    overflow: hidden;
}