:root {
  --bg-dark: #000000;
  --bg-light: #f3f3f3;
  --color-light: #ffffff;
  --color-dark: #000000;
}

body::-webkit-scrollbar {
  display: none;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-dark);

}