:root {
  --bg-dark: #000000;
  --bg-light: #f3f3f3;
  --color-light: #ffffff;
  --color-dark: #000000;
}

body::-webkit-scrollbar {
  display: none;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-dark);

}

.colored-toast.swal2-icon-success {
  background-color: #49792e !important;
}

.colored-toast.swal2-icon-error {
  background-color: #cb3737 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #b09f3d !important;
}

.colored-toast.swal2-icon-info {
  background-color: #196c88 !important;
}

.colored-toast.swal2-icon-question {
  background-color: #536871 !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}